<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Support Portal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li><a href="error-logs">Error Logs</a></li>
            <li><a href="api-response-time">Api Response Time</a></li>
            <li><a href="database-actions">Database Actions</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="error-logs">Error Logs</a></li>
    <li><a href="api-response-time">Api Response Time</a></li>
    <li><a href="database-actions">Database Actions</a></li>
</ul>

@functions {
    
    protected override async Task OnAfterRenderAsync()
    {
        if (await JSRuntime.Current.InvokeAsync<bool>("navigationInit"))
        {
            Console.WriteLine("Sidenav init success");
        }
    }

}