@inherits BlazorLayoutComponent

<body class="hidden-sn grey-skin">

    <NavMenu />

    <main>
        @Body
    </main>
</body>

@functions {
    protected override async Task OnInitAsync()
    {
        await CallJS();
    }

    private async Task CallJS()
    {
        // Simple function call with a basic data type
        if (await JSRuntime.Current.InvokeAsync<bool>("navigationInit"))
        {
            // This line will be reached as our `say` function returns true
            Console.WriteLine("Returned true");
        }
    }
}
