@inherits BlazorLayoutComponent

<body class="hidden-sn grey-skin">

    <NavMenu />

    <main>
        @Body
    </main>
</body>

@functions {
    
    protected override async Task OnInitAsync()
    {
        await Task.Delay(200);
        if (await JSRuntime.Current.InvokeAsync<bool>("navigationInit"))
        {
            Console.WriteLine("Sidenav init success");
        }
    }

}